<div class="container">
	<div class="row">
		<h1> Movies </h1>
		<div class="table-responsive">
			<table class="table">
				<tr>
					<th><%= sortable "title" %></th>
					<th><%= sortable "genre" %></th>
					<th><%= sortable "rating" %></th>
					<th><%= sortable "inventory" %></th>
				</tr>
				<% @movies.each do |movie| %>
				<tr>
					<td> <%= link_to movie.title, movie_path(movie) %> </td>
					<td> <%= movie.genre %> </td>
					<td> <%= movie.rating %> </td>
					<td> <%= movie.inventory %> </td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>